<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gry</title>
</head>
<body>
    <table>
        <tr>
            <th>Tytuł</th>
            <th>Opis</th>
            <th>Rok wydania</th>
            <th>Gatunek</th>
            <th>Platforma</th>
        </tr>
        <tr th:each="game : ${games}">
            <td th:text="${game.title}">Super Mario Bros</td>
            <td th:text="${game.description}">Komputerowa gra platformowa wyprodukowana w 1985 roku przez Nintendo.</td>
            <td th:text="${game.year}">1985</td>
            <td th:text="${game.genre}">NES</td>
            <td th:text="${game.publisher}">Nintendo</td>
        </tr>
    </table>
</body>
</html>